@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #181818;
}

.sections {
	background-color: #ffaa4c;
	height: 38px;
	display: flex;
	padding-left: 60px;
}

.for-business {
	cursor: pointer;
	width: 88px;
	height: 20px;
	font-family: "Outfit";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #000000;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.for-customers {
	cursor: pointer;
	width: 105px;
	height: 20px;
	font-family: "Outfit";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #000000;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.for-customers,
.for-business {
	padding: 9px 40px;
	border-radius: 20px 20px 0 0;
}

.active {
	color: #ffffff;
	background-color: #181818;
}

h2 {
	color: white;
}

.content .business-content,
.content .customers-content {
	display: none; 
}

.content .active {
	display: block;
}

.customers-text {
	text-align: center;
	font-family: "Outfit";
	font-size: 50px;
}

.customers-content {
	padding-top: 150px;
}