@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #181818;
	font-family: "Outfit";
	overflow-y: scroll;
}

body::-webkit-scrollbar {
	display: none;
}

.content {
	max-width: 100vw;
	padding-top: 120px;
	max-width: 2160px;
	align-items: center;
	margin: 0 auto;
}

.header-bg {
	background-color: #ffaa4c;
}

.header {
	height: 38px;
	display: flex;
	padding-left: 60px;
	flex-wrap: wrap;
	padding-right: 60px;
	align-items: center;
	margin: 0 auto;
	max-width: 2160px;
}

.for-business {
	cursor: pointer;
	max-width: 88px;
	max-height: 20px;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #000000;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.for-customers {
	cursor: pointer;
	max-width: 105px;
	max-height: 20px;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #000000;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.for-customers,
.for-business {
	padding: 9px 40px;
	border-radius: 20px 20px 0 0;
}

.active {
	color: #ffffff;
	background-color: #181818;
}

.content .business-content,
.content .customers-content {
	display: none;
}

.business-content,
.customers-content {
	display: flex;
}

.content .active {
	display: block;
}

.customers-text {
	align-items: center;
	text-align: center;
	font-size: 50px;
}

.customers-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-sales {
	cursor: pointer;
	max-width: 182px;
	max-height: 57px;
	gap: 14px;
	padding: 16px 30px 16px 30px;
	border-radius: 16px;
	margin-top: 7px;
	background-color: #954ced;
	border: none;
	display: flex;
	align-items: center;
}

.contact-sales-text {
	color: #ffffff;
	font-size: 20px;
	line-height: 100%;
	letter-spacing: 0px;
	width: 122px;
	height: 25px;
	font-weight: 600px;
}
.top-content {
	flex: 1 0 100%;
	height: 71px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.budss-svg {
	display: flex;
	max-width: 155px;
	max-height: 49px;
}

.first-page-content {
	margin-left: 60px;
	display: flex;
	justify-content: space-between;
}

.budss {
	margin-left: 50px;
	max-width: 671px;
	max-height: 369px;
	margin-top: 20px;
}

.influencer-title {
	font-weight: 700;
	font-size: 96px;
	line-height: 106%;
	letter-spacing: 0px;
	max-width: 671px;
}

.budss-info {
	max-width: 534px;
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0px;
	margin-top: 20px;
}

.contact-sales-in-budss {
	cursor: pointer;
	max-width: 182px;
	max-height: 57px;
	gap: 14px;
	padding: 16px 30px 16px 30px;
	border-radius: 16px;
	margin-top: 7px;
	background-color: #954ced;
	border: none;
	display: flex;
	align-items: center;
	margin-top: 40px;
}

.hero-svg {
	max-width: 595px;
	max-height: 529px;
}

.second-page-content {
	margin-top: 100px;
	margin-right: 60px;
}

.first-row {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	margin-left: 60px;
	margin-top: 80px;
}

.about-budss-title {
	margin-left: 60px;
	display: flex;
	max-height: 102px;
	font-weight: 700;
	font-size: 96px;
	line-height: 106%;
	letter-spacing: 0px;
}

.about-text {
	margin-top: 80px;
	max-width: 410px;
	max-height: 140px;
	font-size: 36px;
	font-weight: 600;
	line-height: 100%;
	letter-spacing: 0px;
	z-index: 1;
	position: relative;
}

.about-payments {
	position: relative;
	width: fit-content;
}

.highlight {
	position: absolute;
	bottom: -2.5px;
	right: 0px;
	transform: rotate(-1.69deg);
	background-color: #954ced;
	border-radius: 30px;
	width: 353px;
	height: 34.5px;
	z-index: 0;
}

.big-b-svg-wrapper {
	margin-top: 16px;
}

.big-b-svg {
	max-width: 423px;
	max-height: 489px;
}

.contactless {
	margin-top: 80px;
	margin-left: 118px;
	max-width: 321px;
	max-height: 268px;
}

.contactless-title {
	max-width: 261px;
	max-height: 51px;
	font-weight: 700;
	font-size: 48px;
	line-height: 106%;
	letter-spacing: 0px;
}

.contactless-text {
	margin-top: 20px;
	font-weight: 400;
	font-size: 24px;
	line-height: 120%;
	letter-spacing: 0px;
	max-width: 321px;
	max-height: 87px;
}

.star-svg {
	max-width: 100px;
	max-height: 100px;
}

.increased {
	margin-top: 80px;
	margin-right: 160px;
	margin-left: 70px;
	max-width: 301px;
	max-height: 290px;
}

.increased-title {
	max-width: 300px;
	max-height: 102px;
	font-weight: 700;
	font-size: 48px;
	line-height: 106%;
	letter-spacing: 0px;
}

.increased-text {
	margin-top: 20px;
	font-weight: 400;
	font-size: 24px;
	line-height: 120%;
	letter-spacing: 0px;
	max-width: 301px;
	max-height: 58px;
}

.increased-svg {
	max-width: 100px;
	max-height: 100px;
}

.second-row {
	display: flex;
	justify-content: space-between;
}

.analytics {
	max-width: 306px;
	max-height: 319px;
	margin-top: 92px;
	gap: 10px;
	margin-left: 165px;
}

.analytics-title {
	max-width: 228px;
	max-height: 102px;
	font-weight: 700;
	font-size: 48px;
	line-height: 106%;
	letter-spacing: 0px;
}

.analytics-text {
	margin-top: 20px;
	max-width: 306px;
	max-height: 87px;
	font-weight: 400;
	font-size: 24px;
	line-height: 120%;
	letter-spacing: 0px;
}

.w-svg {
	width: 100px;
	height: 100px;
}

.fraud {
	margin-top: 70px;
	margin-right: 60px;
	max-width: 336px;
	max-height: 377px;
	margin-left: 85px;
}

.fraud-title {
	max-width: 252px;
	max-height: 102px;
	font-weight: 700;
	font-size: 48px;
	line-height: 106%;
	letter-spacing: 0px;
}

.fraud-text {
	margin-top: 20px;
	max-width: 336px;
	max-height: 145px;
	font-weight: 400;
	font-size: 24px;
	line-height: 120%;
	letter-spacing: 0px;
}

.chain-svg {
	width: 100px;
	height: 100px;
}

.thrid-page-content {
	padding-top: 100px;
	display: flex;
	max-height: 636px;
}

.iphone-svg-wrapper {
	display: flex;
	justify-content: center;
	width: 100vw;
	margin-top: 7px;
	margin-bottom: 6px;
}

.iphone-svg {
	max-width: 308px;
	max-height: 623px;
	z-index: 1;
}

.budss-animation {
	z-index: 0;
	position: absolute;
	font-weight: 700;
	font-size: 128px;
	line-height: 106%;
	letter-spacing: 0px;
	max-width: 1034px;
	max-height: 136px;
	opacity: 0;
}

.first-animation {
	color: #2fdbbc;
	margin-top: 46px;
	animation: moveRight 12s linear infinite;
	animation-delay: 0s;
}

.second-animation {
	color: #a64ced;
	margin-top: 250px;
	animation: moveLeft 12s linear infinite;
	animation-delay: 1.5s;
}

.third-animtion {
	color: #ffaa4c;
	margin-top: 454px;
	animation: moveRight 12s linear infinite;
	animation-delay: 3s;
}

@keyframes moveLeft {
	0% {
		transform: translateX(100vw);
	}

	5% {
		opacity: 1;
	}

	95% {
		opacity: 1;
	}

	100% {
		transform: translateX(-100vw);
	}
}

@keyframes moveRight {
	0% {
		transform: translateX(-100vw);
	}

	5% {
		opacity: 1;
	}

	95% {
		opacity: 1;
	}

	100% {
		transform: translateX(100vw);
	}
}
