@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #181818;
	font-family: "Outfit";
	overflow-y: scroll;
}

body::-webkit-scrollbar {
	display: none;
}

.content {
	max-width: 100vw;
	padding-top: 120px;
}

.header {
	background-color: #ffaa4c;
	height: 38px;
	display: flex;
	padding-left: 60px;
	flex-wrap: wrap;
	padding-right: 60px;
}

.for-business {
	cursor: pointer;
	max-width: 88px;
	max-height: 20px;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #000000;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.for-customers {
	cursor: pointer;
	max-width: 105px;
	max-height: 20px;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #000000;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.for-customers,
.for-business {
	padding: 9px 40px;
	border-radius: 20px 20px 0 0;
}

.active {
	color: #ffffff;
	background-color: #181818;
}

.content .business-content,
.content .customers-content {
	display: none;
}

.business-content,
.customers-content {
	display: flex;
}

.content .active {
	display: block;
}

.customers-text {
	text-align: center;
	font-size: 50px;
}

.customers-content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
}

.contact-sales {
	cursor: pointer;
	max-width: 182px;
	max-height: 57px;
	gap: 14px;
	padding: 16px 30px 16px 30px;
	border-radius: 16px;
	margin-top: 7px;
	background-color: #954ced;
	border: none;
	display: flex;
	align-items: center;
}

.contact-sales-text {
	color: #ffffff;
	font-size: 20px;
	line-height: 100%;
	letter-spacing: 0px;
	width: 122px;
	height: 25px;
	font-weight: 600px;
}
.top-content {
	flex: 1 0 100%;
	height: 71px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.budss-svg {
	display: flex;
	max-width: 155px;
	max-height: 49px;
}

.first-page-content {
	margin-left: 60px;
	display: flex;
	justify-content: space-between;
}

.budss {
	margin-left: 50px;
	max-width: 671px;
	max-height: 369px;
	margin-top: 20px;
}

.influencer-title {
	font-weight: 700;
	font-size: 96px;
	line-height: 106%;
	letter-spacing: 0px;
	max-width: 671px;
}

.budss-info {
	max-width: 534px;
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0px;
	margin-top: 20px;
}

.contact-sales-in-budss {
	cursor: pointer;
	max-width: 182px;
	max-height: 57px;
	gap: 14px;
	padding: 16px 30px 16px 30px;
	border-radius: 16px;
	margin-top: 7px;
	background-color: #954ced;
	border: none;
	display: flex;
	align-items: center;
	margin-top: 40px;
}

.hero-svg {
	max-width: 595px;
	max-height: 529px;
}

.second-page-content {
	margin-top: 100px;
	margin-right: 60px;
}

.about-row {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
}

.about-budss-title {
	margin-left: 60px;
	display: flex;
	max-height: 102px;
	font-weight: 700;
	font-size: 96px;
	line-height: 106%;
	letter-spacing: 0;
}

.about-text {
	margin-left: 60px;
	margin-top: 80px;
	max-width: 410px;
	max-height: 140px;
	font-size: 36px;
	font-weight: 600;
	line-height: 100%;
	letter-spacing: 0;
	z-index: 1;
	position: relative;
}

.about-payments {
	position: relative;
	width: fit-content;
}

.highlight {
	position: absolute;
	bottom: -3px;
	right: -10px;
	transform: rotate(-1.69deg);
	background-color: #954ced;
	border-radius: 30px;
	width: 353px;
	height: 34.5px;
	z-index: 0;
}

.big-b-svg-wrapper {
	margin-top: 142px;
}

.big-b-svg {
	max-width: 423px;
	max-height: 489px;
}

.contactless {
	margin-top: 80px;
}

.contactless-title {
	max-width: 261px;
	max-height: 51px;
	font-weight: 700;
	font-size: 48px;
	line-height: 106%;
	letter-spacing: 0px;
}

.contactless-text {
	margin-top: 20px;
	font-weight: 400;
	font-size: 24px;
	line-height: 120%;
	letter-spacing: 0;
	max-width: 321px;
	max-height: 87px;
}

.star-svg {
	max-width: 100px;
	max-height: 100px;
}

.increased {
	margin-top: 80px;
	margin-right: 160px;
}

.increased-title {
	max-width: 300px;
	max-height: 102px;
	font-weight: 700;
	font-size: 48px;
	line-height: 106%;
	letter-spacing: 0px;
}

.increased-text {
	margin-top: 20px;
	font-weight: 400;
	font-size: 24px;
	line-height: 120%;
	letter-spacing: 0;
	max-width: 301px;
	max-height: 58px;
}

.increased-svg {
	max-width: 100px;
	max-height: 100px;
}
