@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #181818;
}

.sections {
	background-color: #ffaa4c;
	height: 38px;
	display: flex;
	padding-left: 60px;
}

.for-business {
	/* For Business */

	width: 88px;
	height: 20px;

	/* Body/B1_Medium_16 */
	font-family: "Outfit";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	text-align: center;

	/* Grayscale/07 */
	color: #000000;

	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
}

.for-customers {
	width: 105px;
	height: 20px;

	/* Body/B1_Medium_16 */
	font-family: "Outfit";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	text-align: center;

	/* Grayscale/00 */
	color: #000000;

	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
}

.for-customers,
.for-business {
	padding: 9px 40px;
	border-radius: 20px 20px 0 0;
}

.active {
	color: #ffffff;
	background-color: #181818;
}
